.buildpath
.htaccess
.project
.settings
.idea
.svn
.DS_Store
.sass-cache
*.sublime-project
*.sublime-workspace
robots.txt
sitemap.xml
cache/cachefs/*
!cache/cachefs/index.php
download/*
!download/index.php
upload/*
!upload/index.php
cache/smarty/cache/*
!cache/smarty/cache/index.php
cache/smarty/compile/*
!cache/smarty/compile/index.php
cache/class_index.php
cache/tcpdf/*
!cache/tcpdf/index.php
config/xml/*.xml
config/settings.inc.php
config/settings.old.php
log/*.log
img/*
!img/index.php
!img/*/index.php
tools/smarty*/cache/*.php
!tools/smarty*/cache/index.php
tools/smarty*/compile/*.php
!tools/smarty*/compile/index.php
override/classes/*.php
themes/default/cache/*.js
themes/default/cache/*.css
themes/default/modules/*/*.php
!themes/default/modules/*/index.php
themes/default/lang/*.php
!themes/default/lang/index.php
themes/default-bootstrap/cache/*.js
themes/default-bootstrap/cache/*.css
themes/default-bootstrap/modules/*/*.php
!themes/default-bootstrap/modules/*/index.php
themes/default-bootstrap/lang/*.php
!themes/default-bootstrap/lang/index.php
themes/default-bootstrap/modules/*/translations/*.php
!themes/default-bootstrap/modules/*/translations/index.php
modules/*/translations/*.php
!modules/*/translations/index.php
mails/*
!mails/en
modules/*/mails/*
!modules/*/mails/en
translations/*
!translations/*.gzip

# ignore module config files
modules/*/config.xml
# ignore language specific module config files
modules/*/config_*.xml
