                                /* DEFAULT is for three panels in width, adjust as needed
                                   This only matters if JS is OFF, otherwise JS sets this. */
#slider							{ height: 150px; width:520px; margin:left; overflow: hidden;
								  position: relative; margin: 5px 0; border-top:1px solid #BDC2C9;border-bottom:1px solid #BDC2C9;}
#mover							{ width: 520px; position: relative; }

.slide							{ padding: 26px 40px; width:540px; height: 150px; float: left; position: relative; }
.slide h1						{ font-size: 16px;}
.slide p						{ font-size: 12px; line-height: 22px; width: 250px;}
.slide a						{ text-decoration: none;}
.slide a:hover					{ text-decoration: underline;}
.slide img						{ position: absolute; top: 10px; left: 350px; vertical-align: middle;}
.slide h2						{ font-size: 14px; padding: 0 190px;}
#slider-stopper					{ position: absolute; top: 0px; right: 10px; background: #ac0000; color: white;
								  padding: 3px 8px; font-size: 10px; z-index: 1000; }
